%section.sky.half-sky
  .stars
  .closer-stars
  .closest-stars

  %section.title
    %div
      %h1
        %span CONTACT ME

%section.contact
  .contact-form
    .left
      %h1 Want to get in touch?
      %p I'd love to hear from you! Whether it's about working on your next website or just saying hello, you can reach me here.
      %ul
        %li
          = link_to "https://github.com/cody-cooper"  do
            %span.icon.icon-github
            github
        %li
          = link_to "https://angel.co/codycooper"  do
            %span.icon.icon-angellist
            angellist
        %li
          = link_to "https://twitter.com/itscodycooper"  do
            %span.icon.icon-twitter
            twitter
        %li
          = link_to "https://www.linkedin.com/in/itscodycooper"  do
            %span.icon.icon-linkedin-square
            linkedin
        %li
          = link_to "mailto:contact@codycooper.io"  do
            %span.icon.icon-envelope
            email

    .right
      = simple_form_for @contact do |f|
        - if @contact.errors.any?
          .contact-error
            = f.error_notification
            = f.error :name, :error => "You have to enter your name!"
            = f.error :email, :error => "You have to enter your email!"


        = f.input_field :name, :required => true, :label => false, :placeholder => "Your name"
        = f.input_field :email, :required => true, :label => false, :placeholder => "Your email"
        = f.input_field :message, :as => :text, :required => false, :rows => 6, :label => false, :placeholder => "Your message"
        .hidden
          = f.input_field :nickname, :hint => 'Leave this field blank!'
        = f.button :submit, 'SEND MESSAGE'
