!!! 5
%html
  %head
    %meta{ :charset => "utf=8" }
    / SEO stuff
    %title Cody Cooper | Design & Development
    %meta{ :name => "description", :content => "A designer and developer living in Tacoma, WA." }

    / Viewport configuration, scaling options
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" }

    / Hide the browser UI
    %meta{ :name => "apple-mobile-web-app-capable", :content => "yes" }

    / Android toolbar color
    %meta{ :name => "theme-color", :content => "#00111e" }

    / IOS Touch icons
    = favicon_link_tag 'favicon/apple-touch-icon-57x57.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '57x57'
    = favicon_link_tag 'favicon/apple-touch-icon-72x72.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '72x72'
    = favicon_link_tag 'favicon/apple-touch-icon-114x114.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '114x114'
    = favicon_link_tag 'favicon/apple-touch-icon-120x120.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '120x120'
    = favicon_link_tag 'favicon/apple-touch-icon-144x144.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '144x144'
    = favicon_link_tag 'favicon/apple-touch-icon-152x152.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '152x152'

    / Windows tiles
    %meta{ :name => "msapplication-TileColor", :content => "#00111E"}
    %meta{ :name => "msapplication-TileImage", :content => asset_path("favicon/mstile-144x144.png") }

    / Favicons
    = favicon_link_tag 'favicon/favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32'
    = favicon_link_tag 'favicon/favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16'

    / CSS and javascript
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    / CSRF meta tags
    = csrf_meta_tags

  %body

    %header
      %nav
        %ul.header-left
          %li
            %span
              = link_to "home", root_path
        %ul.header-right
          %li
            %span
              = link_to "contact", contact_path

    = yield
